# Meta Information
.idea/
.settings
.classpath
.project
.move_client.sh
.move_jar.sh
Raft.iml
Distributed-Value-Key-Store.iml
src/main/java/META-INF/
src/main/resources/META-INF/
.DS_Store

# Binaries
tmp/
target/*
bin/
out/
*.class
*.pyc
*.jar

# Logs
*.txt

# Notes
notes.txt
